<!-- prettier-ignore-->
{% extends "base.html" %}
{% block title %}Mis gastos{% endblock %}
{% block content %}
<h2 class="mb-3 mt-3">Editar Gasto</h2>
<form action="/update/{{spent.id}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="mb-3">
    <label for="fecha">Fecha</label>
    <input
      type="date"
      name="fecha"
      id="fecha"
      class="form-control"
      value="{{spent.date.strftime('%Y-%m-%d')}}"
    />
  </div>
  <div class="mb-3">
    <label for="descripcion">Descripcion</label>
    <input
      type="text"
      name="descripcion"
      id="descripcion"
      class="form-control"
      value="{{spent.description}}"
    />
  </div>
  <div class="mb-3">
    <label for="categoria">Categoria</label>
    <select
      class="form-select"
      aria-label="Default select example"
      name="categoria"
      id="categoria"
    >
      <!-- prettier-ignore -->
      {% for category in categories %}
      {% if spent.category.id == category.id%}
      <option selected value="{{category.id}}">
        {{ category.description }}
      </option>
      {% else %}
      <option value="{{category.id}}">{{ category.description }}</option>
      {% endif %} {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label for="monto">Monto</label>
    <input
      type="number"
      name="monto"
      id="monto"
      step="0.01"
      class="form-control"
      value="{{spent.amount}}"
    />
  </div>
  <div class="mb-3">
    <input type="submit" value="Actualizar" class="btn btn-primary" />
    <a href="{{url_for('views.home')}}" class="btn btn-secondary">Cancelar</a>
  </div>
</form>
{% endblock %}
