<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}Mis gastos{% endblock %} 
{% block content %}
<h2 class="mb-3 mt-3">Mis Gastos</h2>
<a href="{{url_for('views.new')}}" class="btn btn-primary mb-3"
  >Agregar gasto</a
>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Descripcion</th>
      <th>Categoria</th>
      <th>Monto</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for spent in current_user.spents %}
    <tr>
      <td>{{ spent.date.strftime("%d-%m-%Y") }}</td>
      <td>{{ spent.description }}</td>
      <td>{{ spent.category }}</td>
      <td>{{ '%.2f'|format(spent.amount) }}</td>
      <td>
        <a href="/edit/{{spent.id}}" class="btn btn-info">Editar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
