{% extends 'base.html' %} {% block title%}Sign up page{% endblock %} {% block
content %}
<form action="" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <h3 align="center" class="mt-3 mb-3">Sign Up</h3>
  <div class="mb-3">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      class="form-control"
      placeholder="Enter email"
    />
  </div>
  <div class="mb-3">
    <label for="firstName">First Name</label>
    <input
      type="text"
      name="firstName"
      id="firstName"
      class="form-control"
      placeholder="Enter First Name"
    />
  </div>
  <div class="mb-3">
    <label for="password1">Password</label>
    <input
      type="password"
      name="password1"
      id="password1"
      class="form-control"
      placeholder="Enter password"
    />
  </div>
  <div class="mb-3">
    <label for="password2">Password Confirm</label>
    <input
      type="password"
      name="password2"
      id="password2"
      class="form-control"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
